<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This view is for authorized personnels only" />
    <title>Horse technologies - Authorized View</title>
</head>

<html lang="en">
<link rel="icon" href="/icons/logo-trademarked.svg" />

<body
    style="width: 100vw; height: 100vh; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center; background-image: url(''); background-color: #fff; background-size: cover; background-position: center; background-repeat: no-repeat;">
    <h2 style="font-weight: 700; color: black;">Horse Technologies.</h2>
    <img style="width: 10rem; height: auto;" src="../public/images/logo-orange.png" alt="horse-logo" width=""
        height="" />
    <h1 style="font-size: 1rem; color: black;">This view is for authorized personnels only.</h1>
</body>

</html>